@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lobster&display=swap');



.text-center1{
    color: black !important;
    font-size: 2.5rem !important;
    font-weight: bold;
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Lobster', cursive;
}

.text-center span{
    color: #A4BC92;
    /* color: rgb(149, 42, 165); */
    
}
.sidebar{
    /* background-color: rgb(162, 118, 167) !important; */
    background-color:#A4BC92 !important;
    width: 250px !important;
}
.category{
    margin-left:250px ;
   
}

.py{
    padding-left: 16px;
    padding-top: 19px;
    font-size: large;
}
.ml{
    margin-left: 11px;
    font-weight: bold;
}
.cards{
    justify-content: space-around;
    padding-top: 40px;
}
.cards .card{
    width: 15rem;
    height: 10rem !important;
    border-radius: 2rem !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 30px -12px;

}

#earn1{
    color: #A4BC92;
 
}
.i0{
    background-color: rgb(182, 202, 182);
    border-radius: 50%;
    padding: 5px;
    color: green;
}
.i1{
    background-color: rgb(224, 184, 184);
    border-radius: 50%;
    padding: 5px;
    color: #A4BC92;
}
.i2{
    background-color: rgb(175, 182, 206);
    border-radius: 50%;
    padding: 5px;
    color: rgb(18, 41, 109);
}
.i3{
    background-color: rgb(217, 192, 220);
    border-radius: 50%;
    padding: 5px;
    color: rgb(149, 42, 165);
}
.users{
    color: #A4BC92;
}
.Earnings{
    color: green;
}
.Products{
    color:rgb(0, 64, 255) ;
}
.Sales{
    color:rgb(149, 42, 165) ;
}
/* categories */

.h2Category{
    background-image: linear-gradient(to right,#A4BC92, black);
    color: white;
    padding: 7px;
    border-radius: 2rem;
}
.active>.page-link, .page-link.active {
    background-color: #A4BC92 !important;
    border: none !important;
    color: white !important;
}
.page-link{
    color: #A4BC92 !important;
}
.card-img-top{
    height: 18rem !important;
    object-fit: cover;
}
.category-card{
    box-shadow: #A4BC92 0px 25px 30px -12px;
}
.brand{
    width: 5rem;
    height: 5rem;
}
.top-navbar{
    background-color: #A4BC92;
    height: 4rem;
}
.main1{
    
    background-image: url('/images/2.jpeg');
   
    
    background-size: cover;
    /* background-repeat: no-repeat; */
    
    height: calc(100vh - 7rem);
    width: 100%;
    margin-bottom: 2rem;
}
.title1{
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Lobster', cursive;
    color: #89b866;
}
