@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lobster&display=swap');



.text-center1{
    color: black !important;
    font-size: 2.5rem !important;
    font-weight: bold;
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Lobster', cursive;
}

.text-center span{
    color: black !important;
    /* color: rgb(149, 42, 165); */
    
}
.sidebar{
    /* background-color: rgb(162, 118, 167) !important; */
    background-color:#263A29 !important;
    width: 200px !important;
}
.category{
    margin-left:250px ;
   
}

.py{
    padding-left: 16px;
    padding-top: 19px;
    font-size: large;
}
.ml{
    margin-left: 11px;
    font-weight: bold;
}
.cards{
    justify-content: space-around;
    padding-top: 20px;
}
.cards .card{
    width: 20rem;
    height: 8rem;
    /* width: 15rem;
    height: 10rem !important;
    border-radius: 2rem !important; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 30px -12px;
    background-image: linear-gradient(to right,white, rgb(75, 104, 75));
    color: black;

}

/* #earn1{
    color: #A4BC92;
 
}
.i0{
    background-color: rgb(182, 202, 182);
    border-radius: 50%;
    padding: 5px;
    color: green;
} */
.i1{
    background-color: rgb(224, 184, 184);
    border-radius: 50%;
    padding: 5px;
    color: brown;
}
.i2{
    background-color: rgb(175, 182, 206);
    border-radius: 50%;
    padding: 5px;
    color: rgb(18, 41, 109);
}
.i3{
    background-color: rgb(217, 192, 220);
    border-radius: 50%;
    padding: 5px;
    color: rgb(149, 42, 165);
}
.users{
    color: #A4BC92;
}
.Earnings{
    color: black;
}
.Products{
    color:rgb(0, 64, 255) ;
}
.Sales{
    color:rgb(149, 42, 165) ;
}
/* categories */

.h2Category{
    background-image: linear-gradient(to right,#A4BC92, black);
    color: white;
    padding: 7px;
    border-radius: 2rem;
}
.active>.page-link, .page-link.active {
    background-color: #A4BC92 !important;
    border: none !important;
    color: white !important;
}
.page-link{
    color: #A4BC92 !important;
}
.card-img-top{
    height: 18rem !important;
    object-fit: cover;
}
.category-card{
    box-shadow: #A4BC92 0px 25px 30px -12px;
}
.brand{
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Lobster', cursive;
    color: black;
}
.brand-img{
    color: #263A29;
}
.brand span{
    color: black;
}
.top-navbar{
    background-color: #263A29;
    height: 4rem;
}
.nav-admin{
    /* background-color: #c1d1c2 ; */
    /* background-image: linear-gradient(to right,white, #263A29); */
    background-color: white;
    height: 4rem;
}
.bg-image img{
    width: 100% !important;
    height: 100%;
}
.bg-image{
    
    background-image: url('/images/paque.jpg');
   
    
    background-size: cover;
    background-repeat: no-repeat;
    /* background-repeat: no-repeat; */
/*     
    height: calc(100vh - 7rem); */
    height: 100vh;
    width: 100%;
    margin-bottom: 2rem;
}
.title1{
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Lobster', cursive;
    color: #89b866;
}
.info-wrap{
    background-image: url('/images/1.jpeg');
    background-size: cover;
} 
.btn-contact{
    background-color:#A4BC92;
}
.info{
    text-decoration: none;
    color: white;
}
.bg{
    background-image: linear-gradient(to right,#A4BC92, black);
}
.btn-outline-success{

border: solid 2.5px #A4BC92 !important;
color: #A4BC92 !important;
font-weight: bold;
}
.btn-outline-success:hover{
    background-color:#A4BC92  !important;
    color: white !important;
    border-radius: 5px;
}
.user-name{
    color:black !important;
    font-weight: bold;
    border-radius: 3rem;
    text-decoration: none;
}

.row {
     --bs-gutter-x: none !important;
}
.dataTables_length{
    margin-top: 3rem !important;
}
.form-control-sm{
    margin-top: 3rem !important;
}
.head{
    /* background-image: linear-gradient(to right,#A4BC92, black); */
    background-color: black;
    color: white;

    
}
thead{
    border-radius: 3rem !important;
}


.odd{
   background-color: white !important;
}
.bi-eye{
    font-size: 20px !important;
  

}
.img-product {
    width: 40px;
    height: 30px;
}
.img-show{
    width: 440px;
    height: 440px;
}
.marginProduit{
    margin-top:60px;
    margin-left: 100px;
}
.action-product{
    font-size: 25px;
}
.btn-color{
    width: 30px;
    height: 30px;
    border-radius: 1rem;
}
.Red{
    background-color:red ;
}
.Green{
    background-color:green ;
}
.Yellow{
    background-color:Yellow ;
}
.Purple{
    background-color:Purple ;
}
.Pink{
    background-color:Pink ;
}
.Orange{
    background-color:red ;
}
.Brown{
    background-color:Brown ;
}
.Black{
    background-color:Black ;
}
.White{
    background-color:rgba(255, 255, 255, 0.9) ;
}
.Gray{
    background-color:Gray ;
}
.Magenta{
    background-color:Magenta ;
}
.Cyan{
    background-color:Cyan ;
}
.Maroon{
    background-color:Maroon ;
}
.Navy{
    background-color:Navy ;
}
.Olive{
    background-color:Olive;
}
.Turquoise{
    background-color:Turquoise;
}
.Lavender{
    background-color:Lavender ;
}
.Indigo{
    background-color:Indigo ;
}
.btn-update{
    background-color: green !important;
    color: white !important;
}
.btn-eye{
    background-color: rgb(200, 129, 29) !important;
    color: white !important;
    width: 41px;
    height: 36px;
}